body {
    padding: 0;
    margin: 0;
    margin-right: 200px;
}

@media only screen and (max-width: 1024px) {
    body {
      margin-right: 0;
    }
  }

h1 {
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

.title {
    position: relative;
    font-style: inherit;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: limegreen;
    width: 200px;
    
    
}

.firstdiv {
    padding: 5px 18px 0 5px;
}

.firstdiv button, .firstdiv p, .firstdiv h1 {
    display: inline-block;
}

.topdate {
    width: calc(100% - 332px);
    text-align: center;
    padding: 0px 10px;
    font-family: system-ui;
    color: limegreen;

}

.addbut {
    width: 50px;
}

.delbut {
    width: 50px;
}

.search {
    width: 110px;
}

.search-wrapper {
    padding: 10px;
}

.searchbut {
    width: 28px;
    border: 0px;
    background-color: white;
    vertical-align: top;
    cursor: pointer;
}

.list {
    border-style: double;
    width: 177px;
    min-height: 500px;
    list-style-type: none;
    border-radius: 8px;
    border-color: lightseagreen; 
    margin: 0;
    padding: 0;  
}

.saved {
    position: relative;
    border-style: outset;
    background-color: white;
    border-color: aliceblue;
    margin-top: 13px;
    margin-left: 2px;
    padding-bottom: 10px;
    font-family: system-ui;
}

.txtdiv {
    
}

.txtarea {
    position: relative; 
    background-image: -webkit-linear-gradient(left, #8bc34a 10px, #e91e6300 10px),
      -webkit-linear-gradient(right, #fff8bd 10px, transparent 10px),
      -webkit-linear-gradient(#ffeb3b47 30px, #ccc 30px, #ccc 31px, #ffeb3b00 31px);
    background-size: 100% 100%, 100% 100%, 100% 31px;
    border-radius: 10px;
    box-shadow: inset 0 3px 2px rgba(0, 0, 0, 0.1);
    line-height: 31px;
    font-family: Arial, Helvetica, Sans-serif;
    padding: 8px;
    visibility: hidden;
    height: 500px;
    width: 100%;
    resize: none;
}

.notesaver { 
    font-family: monospace;
    border-color: lightcyan;
    border-radius: 8px;
    background-color: azure;
    visibility: hidden;
    position: absolute;
    bottom: -30px;
    right: -15px;
    padding: 4px 15px;
}

.time {
    top: 20px;
    background-color: white;
    border-radius: 3px;
    position: absolute;
    left: 5px;
    color: limegreen;
}

.left {
    width: 183px;
    display: inline-block;
    vertical-align: top;
}

.right {
    width: calc(100% - 233px);
    display: inline-block;
    vertical-align: top;
    min-height: 500px;
    padding: 40px 0 0 12px;
    position: relative;
}
